/* No Errors */

/* GLOBAL STYLES */
body {
  margin:0;
  padding:0;
  background-color: grey;
}
header {
  background: #ccc;
  color: #444;
  text-align: center;
  font-family:Courier;
  font-size: 1.6em;
  max-width: 100%;
}
h1 {
  font-size: 2.5em;
  margin: 0;
  padding: 1em;
  max-width: 100%;
  height: auto;
}
h2 {
  font-size: 1.5em;
}
main {
  max-width: 1000px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 2px;
}
section {
  font-size: 1em;
  background-color: black;
  margin: 1em 1% 1em 1%;
  font-family: Courier;
}
section.Recommendations {
	background-color:white;
}
section a {
	color: white;
}
a.SectionButton {
	color: black;
	text-decoration: none;
}
section:hover {
  background: #666;
}
img {
	max-width: 100%;
	height: auto;
}
p {
	font-size: 1em;
	margin: 1em 1% 1em 1%;
	font-family: Courier;
}
section.hardsongs {
	background: black;
	color: white;
}
section.FavAlbums {
	background: grey;
	color: white;
}
section.Magic {
	background: black;
	color: white;
}
section.Future {
	background: grey;
	color: white;
}
div.SMedia {
	font-family:Courier;
}
#map {
    height: 400px;
    width: 100%;
}



/* NAVIGATION BAR STYLES*/
nav {
	background-color: black;
	color: white;
	width: 100%;
	text-align: center;
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
	font-family: Courier;
}
nav a:hover {
	background-color: white;
	color: black;
}
a:visited {
	text-decoration: none;
	color: white;
}
nav li {
	display: block;
	/*text-decoration: none;*/
	margin: 0 20px;
	font-size: 1.5em;
}
/*NAVIGATION BAR END*/


.FooterNav {
	background: #ccc;
	font-family: Courier;
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

/* Instagram */
.fa-instagram {
    background: #ff7424;
    color: white;
}

/* Rounds the Images */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
	position: static;
}

.social-media {
	position: absolute;
	top: 5px;
    right: 0px;
}


/* CSS Slideshow */
.slideshow {
  margin: 2em auto 1em;
  width: 500px;
  height: 400px;
  overflow: hidden;
  position: relative;
  max-width: 100%;
}

.slideshow img {
  position: absolute;
  width: 450px;
  height: 450px;
  animation: round 30s infinite;
  opacity: 0;
  left: 0;
  
}

@keyframes round {
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

img:nth-child(1) { animation-delay: 20s; }
img:nth-child(2) { animation-delay: 10s; }
img:nth-child(3) { animation-delay: 0s; }
/* END of CSS Slideshow */

/* Figure Card */
figure {
  max-width: 100%;
  height: auto;
  background: #aaa;
  border: 2px solid #999;
  overflow: hidden;
}

figure img {
  width: 100%;
  height: auto;
  background: #eee;
  margin-bottom: -4em;
  display: block;
}

figcaption {
  box-sizing: border-box;
  height: 4em;
  line-height: 1.2em;
  padding: .25em;
  transform: translateY(4em);
  background: #fff;
  opacity: 0;
  transition: all .5s;
}

figure:hover figcaption {
  transform: translateY(0em);
  opacity: .78;
}
/* END of Figure Card */

/* FIRST BREAKPOINT (MEDIUM SIZE) */
@media screen and (min-width: 500px) {
section {
	 display: inline-block;
	 width: 44%;
	 background-color: white;
 }
nav li {
	display: inline-block;
	color: white;
	text-align: center;
	list-style: none;
	padding: 0;
	margin: 0;
}
a.SectionButton {
	color: black;
	text-decoration: none;
  }
.FlexContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.FlexContainer2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
}
/* END FIRST BREAKPOINT */


/* SECOND BREAKPOINT (DESKTOP SIZE) */
@media screen and (min-width: 1000px) {
section {
		 display: inline-block;
		 width: 20%;
		 background-color: white;
	}
 nav li {
		display: inline-block;
		color: white;
		text-align: center;
		list-style: none;
		padding: 0;
		margin: 0;
	}
 nav a {
	 /*text-decoration: none;*/
	}
a.SectionButton {
	color: black;
	text-decoration: none;
  }
}
/* END SECOND BREAKPOINT */

