/* GLOBAL STYLES */

body {
  margin:0;
  padding:0;
  background-color: grey;
}
header {
  background: #ccc;
  color: #444;
  text-align: center;
  font-family:Courier;
  font-size: 1.6em;
}
h1 {
  font-size: 2.5em;
  margin: 0;
  padding: 1em;
}
h2 {
  font-size: 1.5em;
}
main {
  max-width: 1000px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 2px;
}
section {
  font-size: 1em;
  background-color: white;
  margin: 1em 1% 1em 1%;
  font-family: Courier;
}
section:hover {
  background: #666;
}
nav {
	background-color: black;
	color: white;
	width: 100%;
	text-align: center;
	list-style: none;
	padding: 0;
	margin: 0;
	font-family: Courier;
	float: right;
}
h3:hover {
	background-color: white;
	color: black;
}
nav {
	background-color: black;
	width: auto;
}
.FooterNav {
	background: #ccc;
	font-family: Courier;
}

/* CSS Slideshow */
.slideshow {
  margin: 2em auto 1em;
  padding-bottom: 1em;
  width: 1000px; /* altering this breaks the centering??? */
  height: 1000px;
  overflow: hidden;
  position: relative;
}

.slideshow img {
  position: absolute;
  width: 250px;
  height: 250px;
  animation: round 21s infinite;
  opacity: 0;
  left: 0;
}

@keyframes round {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

img:nth-child(1) { animation-delay: 14s; }
img:nth-child(2) { animation-delay: 7s; }
img:nth-child(3) { animation-delay: 0s; }
/* END of CSS Slideshow */



